:root{
    --gra: linear-gradient(45deg, cyan, royalblue);
}

#brand_logo {
    width: 88px;
    height: 28px;
    background: url(img/Logo/logo-slrev.png) center center / contain no-repeat;
    transition: opacity .2s ease-in-out;
}


.dropdown-menu .dropdown-item:hover {
    background-color: #d8e6ff; 
    color: black !important;
}

#imgc{
    height: 100px;
}

.promosi{
    text-align: center;
    background-color: #EEEEEE;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.produk{
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 20px;
}

footer a:hover {
    text-decoration: underline;
    color: #ffcc00; /* Highlight color */
  }
  
  footer ul.list-inline li {
    margin-right: 15px;
  }

  :root{
    --gra: linear-gradient(45deg, cyan, royalblue);
}

#list-produk{
    background-color: #ededeb;
}

.underline{
    height: 3px;
    width: 100px;
    background-color: #f7941d;
}
.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}
.btn-primary{
    background-color: #ededeb!important;
    border: none;
}
.btn-primary:hover{
    background: var(--gra)!important;
    color: #fff!important;
}

.product-item{
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: relative;
}

.product-img{
    height: 250px;
}

#img1{
    height: 100%;
}
.product-img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.btn-outline-pink {
    color: rgb(255, 125, 205);
    border-color: rgb(255, 125, 205);
}
  
.btn-outline-pink:hover {
    background-color: pink;
    color: red;
}